<%- include('./partials/header.ejs') %>
<section id="beer-page">
    <div>
        <header>
            <h1>
                Beers
            </h1>
        </header>
        <div class="beer-ordering">
            <div class="beer-buttons">
                <a id="beer-add" href="/beer-new">
                    Add
                </a>
            </div>
        </div>

        <div class="searches">
            <form action="/action_page.php">
                <label for="Name">Name:</label>
                <input type="text" id="beerName" name="beerName"><br><br>
                <input type="checkbox" id="rating0-50" name="rating0-50" value="Rating < 50">
                <label for="rating0-50"> Rating less than 50</label><br>
                <input type="checkbox" id="rating50-100" name="rating50-100" value="Rating > 50">
                <label for="rating50-100"> Rating greater than 50</label><br>
            </form>
        </div>

        <div class="beer-items">
            <%if(beerData.length != 0) { %>
                <% beerData.forEach(function(beerData) { %>
                    <div>
                        <div class="beer-title">
                            <h2 class="beer-title-text">
                                <div class="beer-title-and-buttons">
                                    <div class="underline">
                                        Name: <%= beerData.Name %> Rating: <%= beerData.Rating %>
                                    </div>
                                    <div class="beer-rating-buttons">
                                        <form class="form-horizontal" action="/beer-like" method="POST">
                                            <input id="like_<%= beerData.BeerID %>" type="hidden" class="beerclass" name="BeerID" value="<%= beerData.BeerID %>">
                                            <button type="submit" class="beer-like-button">Like</button>
                                        </form>
                                        <form class="form-horizontal" action="/beer-dislike" method="POST">
                                            <input id="dislike_<%= beerData.BeerID %>" type="hidden" class="beerclass" name="BeerID" value="<%= beerData.BeerID %>">
                                            <button type="submit" class="beer-dislike-button">Disike</button>
                                        </form>
                                    </div>
                                    <div class="beer-delete-buttons">
                                        <form class="form-horizontal" action="/beer-remove" method="POST">
                                            <input id="remove_<%= beerData.BeerID %>" type="hidden" class="beerclass" name="BeerID" value="<%= beerData.BeerID %>">
                                            <button type="submit" class="beer-delete-button">delete</button>
                                        </form>
                                    </div>
                                </div>
                            </h2>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <h2 class="no-beer-data">There is currently no beer data.</h2>
            <% } %>
        </div>
    </div>
</section>
<%- include('./partials/footer.ejs') %>