<link type="text/css" rel="stylesheet" href="/dist/scripts/bill.css">
<%- include('./partials/header.ejs') %>
<section id="bill-page">
    <div>
        <header>
            <h1>
                Bills
            </h1>
        </header>

        <div class="searches">
            <form action="/bill-search" method="POST">
                <input type="text" id="beerName" name="personName" placeholder="Search Name"><br><br>
                <button type="submit" class="bill-search-button">Search</button>
            </form>
        </div>

        <div class="bill-items">
            <%if(billData.length != 0) { %>
                <% billData.forEach(function(billData) { %>
                    <div>
                        <div class="bill-title">
                            <h2 class="bill-title-text">
                                <div class="bill-title-and-buttons">
                                    <div class="bill-full-title">
                                        <%= billData.Name %>        $<%= billData.Price %>.00 at <%= billData.BarName %>
                                    </div>
                                    <div class="bill-info">
                                        on <%= billData.Date %>
                                    </div>
                                </div>
                            </h2>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <h2 class="no-bill-data">There is currently no bill data.</h2>
            <% } %>
        </div>
    </div>
</section>
<%- include('./partials/footer.ejs') %>