
<%- include('./partials/header.ejs') %>
<section id="bill-page">
    <div>
        <header>
            <h1>
                Bills
            </h1>
        </header>

        <div class="bill-items">
            <%if(billData.length != 0) { %>
                <% billData.forEach(function(billData) { %>
                    <div>
                        <div class="bill-title">
                            <h2 class="bill-title-text">
                                <div class="bill-title-and-buttons">
                                    <div class="bill-full-title">
                                        <%= billData.Name %> $<%= billData.Price %>.00
                                    </div>
                                    <div class="bill-info">
                                        <%= billData.Date %>
                                    </div>
                                </div>
                            </h2>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <h2 class="no-bill-data">There is currently no bill data.</h2>
            <% } %>
        </div>
    </div>
</section>
<%- include('./partials/footer.ejs') %>