<%- include('./partials/header.ejs') %>

<link rel=”stylesheet” href=”dist/scripts/tailwind.css”/>

<section id="home-page">
    <div>
        <header>
            <h1 class="home-text">Deja Brew</h1>
        </header>

        <div id="home-tops">
            <ul class="home-top-5s">
                <li>
                    <h3>Top Beers</h3>
                    <% if(BeerOffset != 0) { %>
                        <form action="/topBeerOffsetDown" method="POST">
                            <input type="hidden" name="BeersOffset" value="<%= BeerOffset %>">
                            <button type="submit" id="beer-first-arrow" class="buttons-container-one">
                                <--
                            </button>
                        </form>
                    <% } %>
                        <% topBeers.forEach(function(topBeers, i) { %>
                            <div><%= i+1+BeerOffset %> <%= topBeers.Name %></div>
                        <% }) %>
                    <% if(topBeers.length == 5) { %>
                        <form action="/topBeerOffsetUp" method="POST">
                            <input type="hidden" name="BeersOffset" value="<%= BeerOffset %>">
                            <button type="submit" id="beer-second-arrow" class="buttons-container-two">
                                -->
                            </button>
                        </form>
                    <% } %>
                </li>
                <li>
                    <h3>Top Bars</h3>
                    <% if(BarOffset != 0) { %>
                        <form action="/topBarOffsetDown" method="POST">
                            <input type="hidden" name="BarOffset" value="<%= BarOffset %>">                        <button type="submit" id="bar-first-arrow" class="buttons-container-one">
                                <--
                            </button>

                        </form>
                    <% } %>
                        <% topBars.forEach(function(topBars, i) { %>
                            <div><%= i+1+BarOffset %> <%= topBars.Name %></div>
                        <% }) %>
                    <% if(topBars.length == 5) { %>
                        <form action="/topBarOffsetUp" method="POST">
                            <input type="hidden" name="BarOffset" value="<%= BarOffset %>">
                            <button type="submit" id="bar-second-arrow" class="buttons-container-two">
                                -->
                            </button>
                        </form>
                    <% } %>
                </li>
                <li>
                    <h3>Top Breweries</h3>
                    <% if(BreweryOffset != 0) { %>
                        <form action="/topBreweryOffsetDown" method="POST">
                            <input type="hidden" name="BreweriesOffset" value="<%= BreweryOffset %>">
                            <button type="submit" id="brew-first-arrow" class="buttons-container-one">
                                <--
                            </button>
                        </form>
                    <% } %>
                        <% topBreweries.forEach(function(topBreweries, i) { %>
                            <div><%= i+1+BreweryOffset %> <%= topBreweries.Name %></div>
                        <% }) %>
                    <% if(topBreweries.length == 5) { %>
                        <form action="/topBreweryOffsetUp" method="POST">
                            <input type="hidden" name="BreweriesOffset" value="<%= BreweryOffset %>">
                            <button type="submit" id="brew-second-arrow" class="buttons-container-two">
                                -->
                            </button>
                        </form>
                    <% } %>
                </li>
            </ul>
        </div>
    </div>
</section>

<%- include('./partials/footer.ejs') %>