<%- include('./partials/header.ejs') %>

<link rel=”stylesheet” href=”dist/scripts/tailwind.css”/>

<section id="home-page">
    <div>
        <header>
            <h1 class="home-text">Deja Brew</h1>
        </header>

        <div id="home-tops">
            <ul class="home-top-5s">
                <li>
                    <h3>Top Beers</h3>
                    <form action="/topBeerOffsetDown">
                        <button type="submit" id="first-arrow" class="buttons-container-one">
                            last <span class="arrow-icon"><i class="fa-solid fa-arrow-left-long"><--</i></span>
                        </button>
                    </form>
                        <% topBeers.forEach(function(topBeers, i) { %>
                            <div><%= i+1 %> <%= topBeers.Name %></div>
                        <% }) %>
                    <form action="/topBeerOffsetUp">
                        <button type="submit" id="second-arrow" class="buttons-container-two">
                            next <span class="arrow-icon"><i class="fa-solid fa-arrow-right-long">--></i></span>
                        </button>
                    </form>
                </li>
                <li>
                    <h3>Top Bars</h3>
                    <form action="/topBarOffsetDown">
                        <button type="submit" id="first-arrow" class="buttons-container-one">
                            last <span class="arrow-icon"><i class="fa-solid fa-arrow-left-long"><--</i></span>
                        </button>
                    </form>
                        <% topBars.forEach(function(topBars, i) { %>
                            <div><%= i+1 %> <%= topBars.Name %></div>
                        <% }) %>
                    <form action="/topBeerOffsetUp">
                        <button type="submit" id="second-arrow" class="buttons-container-two">
                            next <span class="arrow-icon"><i class="fa-solid fa-arrow-right-long">--></i></span>
                        </button>
                    </form>
                </li>
                <li>
                    <h3>Top Breweries</h3>
                    <form action="/topBreweryOffsetDown">
                        <button type="submit" id="first-arrow" class="buttons-container-one">
                            last <span class="arrow-icon"><i class="fa-solid fa-arrow-left-long"><--</i></span>
                        </button>
                    </form>
                        <% topBreweries.forEach(function(topBreweries, i) { %>
                            <div><%= i+1 %> <%= topBreweries.Name %></div>
                        <% }) %>
                    <form action="/topBreweryOffsetUp">
                        <button type="submit" id="second-arrow" class="buttons-container-two">
                            next <span class="arrow-icon"><i class="fa-solid fa-arrow-right-long">--></i></span>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</section>

<%- include('./partials/footer.ejs') %>